*{
    font-family: Arial, Helvetica, sans-serif;
}
#container{
    width: 95%;
    margin: auto;
}
#card1{
    padding-top: 10px;
    display: flex;
    justify-content:space-between;
}
.card{
    width:30%;
}
.right{
    padding-right: 30px;
    border-right: 2px solid #9da0a3;
}
.card>img{
    width: 90%;
    display: flex;
    margin: auto;
}
h2{
    font-size: 20px;
    color:#0457c8; 
}
p{
    font-size: 13px;
}
div>h2{
    color: black;
    font-size: 20px;
}
#card2{
    padding-top: 20px;
    display:flex;
    justify-content: space-around;
    
}
.graycard{
    background-color: #f0f2f4;
    width: 48%;
    display:flex;
    justify-content: center;
    border: 1px solid gray;
    
}

.graycard>div>img{
    padding: 10px;
    height: 80%;
    width: 100px;
    margin: auto;
}
#card3{
    padding-top: 20px;
    display: flex;
    justify-content:space-between;
}
#card3>div{
    display: flex;
    width: 30%;
    height: 100px;
    justify-content: center;
    padding-right: 30px;
}
#card3>div>div>img{
    height: 80%;
    padding: 10px;
}
.sec{
    padding-left: 30px;
}