body{
    margin: 0;
    padding: 0;
    font-family: "Human BBY Digital","Human Fallback",Arial, Helvetica, sans-serif;
}
#adminMainDiv{
    border: 0px solid black;
    display: flex;
    flex-direction: row;
    margin-top: 50px;
}
#adminMainDiv>div{
    border: 0px solid black;
    width: 73%;
    height: 350px;
    margin-left: 70px;
    margin: auto;
}
#adminSubDiv-1>div{
    margin: auto;
    display: flex;
    flex-direction: column;
    width: 25%;
    border: 0px solid rgb(220, 220, 220);

}
#selectCategoryDiv{
    border: 1px solid rgb(170, 166, 166);
    margin: auto;
    width: 30%;
    height: 90%;
    border-radius: 5px;
}
#selectCategoryDiv>h3{
    text-align: center;
}
#selectCategoryDiv>button{
    margin: auto;
    border: 1px solid grey;
    width: 97%;
    height: 30px;
}
#formDiv{
    border: 1px solid rgb(170, 166, 166);
    margin: auto;
    width: 50%;
    height: 100%;
    border-radius: 5px;
}
#addProductHeading{
    text-align: center;
}
#form{
    width: 100%;
    border: 1px solild rgb(183, 46, 46);
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
}
#form>label{
    width: 100%;
    margin-left: 76px;
}
#form>select,input{
    margin:3px  0  2px 0;
}
#form>select{
    width: 70%;
}
input[type="text"]{
    width:68%;
}
input[type="number"]{
    width:68%;
}
input[type="url"]{
    width:68%;
}
input[type="submit"]{
    width:70.1%;
    margin-right: 38px;
}
input[type="reset"]{
    width:70.1%;
    margin-right: 38px;
}
section{
    border: 0px solid black;
    width: 100%;
    height: auto;
    margin-top: 50px;
    display: grid;
    grid-template-columns: 25% 70%;
}
section>div{
    border:1px solid grey;
    margin-left: 30px;
    border-radius: 5px;
    border-style:dashed;
}
#sortingDiv,#filteringDiv{
    border:1px solid rgb(212, 210, 210);
    margin: auto;
    margin-top: 20px;
    width: 60%;
    height: auto;
    padding: 20px;
}
#sortingDiv>h3{
    line-height: 0px;
}
#sortingDiv>label{
    display: flex;
    flex-direction: row;
}
#sortingDiv>select{

    margin: 3px  0 15px 0;
}
#sortingDiv>label>i{
    font-size: 12px;
    margin: 3px 0 0 3px;
}
#starRating>i{
    color:rgb(255,224,0);
}
#peopleNumber>i{
    color: green;
}
#priceSymbol>i{
    color:rgb(207, 5, 5);
}
#containerDiv{
    margin-left: 70px;
}
#filteringDiv p{
    color:rgb(207, 5, 5);
}
#filteringDiv p span{
    color: black;
}
#filteringDiv p i{
    color:rgb(255,224,0);
}
.productCard{
    display: grid;
    grid-template-columns: 30% 50% 15%;
    row-gap: 20px;
    margin: auto;
}
.productCard>div{
    border:0px solid red;
    margin-top: 20px;
    height:30vh;

}
.imageDiv>img{
    width: 70%;
    height: 30vh;
    object-fit: contain;
    padding-left: 50px;
    margin: auto;
}
.productDescription,.category{
    line-height: 17px;
    
}
#category{
    width: 239px;
    padding: 5px;
    position: relative;
    right: 20px;   
}
.productDescription{
    margin-top: -9px;
}
.productName{
    line-height: 18px;
}
.productPrice {
    font-weight: 600;
    font-size: 19px;
    line-height: 10px;
    margin-top: -18px;
    color:rgb(207, 5, 5)
}
.actualPrice {
    margin-left: 20px;
    opacity: 0.5;
    text-decoration: line-through;
}
.rating>i{
    color:rgb(255,224,0);
}
.totalnumbers{
    font-size: 12px;
    margin-left: 3px;
}
.totalnumbers>i{
    color: green;
}
.spaceHr{
    width: 90%;
    background: lightgrey;
    opacity: 0.2;
}

.updateDiv>button{
    width: 80%;
    margin: auto;
    margin-top: 10px;
    background-color: white;
    border: 1px solid grey;
    padding: 3px;
}
.updateDiv>button:nth-child(1){
    color: red;
}
.updateDiv>button:nth-child(1):hover{
    color: rgb(255, 255, 255);
    background-color: red;
    border: none;
}
.updateDiv>button:nth-child(2){
    color: green;
}
.updateDiv>button:nth-child(2):hover{
    color: rgb(255, 255, 255);
    background-color:green;
    border: none;
}
.updateDiv>button:nth-child(3){
    color: blue;
}
.updateDiv>button:nth-child(3):hover{
    color: rgb(255, 255, 255);
    background-color: blue;
    border: none;
}


section>div#sortinNFilteringDiv{
    width: 350px;
    height: 590px;   
    overflow-y: scroll;
    overflow-x: hidden;

}
sortinNFilteringDiv::-webkit-scrollbar{
    width: 13px;
    background: rgb(210, 208, 208);
}
sortinNFilteringDiv::-webkit-scrollbar-thumb{
    background: #abadb0;
}