#abSubNav{
    height: 44px;
    width: 100%;
    border: 0px solid black;
    background:rgb(0,70,190);
    display: grid;
    grid-template-columns: 9% 7% 10% 13% 7% 7% 7% 11% 9% 8% ;
    gap: 1px;
}
#abSubNav>div{
    border: 0px solid black;
    margin-left: 10px;
    width: 70%;
    height: 80%;
    margin-top: 2px;
    font-size: 12px;
    color:white;
    line-height: 17px;
    font-family: "Human BBY Digital","Human Fallback",Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

#abSubNav>#abSubNavDiv2{
    margin-left: -10px;
}
#abSubNav>#abSubNavDiv3{
    margin-left: -30px;
}
#abSubNav>#abSubNavDiv4{
    margin-left: -60px;
}
#abSubNav>#abSubNavDiv5{
    margin-left: -100px;
}
#abSubNav>#abSubNavDiv6{
    margin-left: -120px;
}
#abSubNav>#abSubNavDiv7{
    margin-left: 280px;
    font-size: 13px;
    font-weight: 600;
}
#abSubNav>#abSubNavDiv8{
    margin-left: 260px;
    font-size: 13px;
    font-weight: 600;
}
#abSubNav>#abSubNavDiv9{
    margin-left: 220px;
    font-size: 13px;
    font-weight: 600;
}
#abSubNav>#abSubNavDiv9 a{
    color: white;
    text-decoration: none;
}
#abSubNav>#abSubNavDiv10{
    margin-left: 190px;
    font-size: 13px;
    font-weight: 600;
}
#abShopDaealByCatWord{
    position: absolute;
    top: 320px;
    font-size: 15px ;
    line-height: 20px;
    color: white;
    margin-left: 12%;
    margin-top: 10px;

}
#abCatMainDiv{
    border: 1px solid rgb(255, 255, 255);
    border: none;
    border-top: 1px solid rgb(255, 255, 255);
    height: 1034px;
    width: 100%;
    background:radial-gradient(rgb(26, 96, 227) ,rgb(2, 25, 65) );
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}
#abCatMainDiv>div{
    border: 0px solid white;
    height: 212px;
    width: 75%;
    margin-left:12%;
}
#abCatSubDiv1{
    display: flex;
}
#abCatSubDiv1>div{
border: 0px solid black;
margin-top: 10px;
}
#abCatSubDiv1>#abBlackFridayDiv{
width: 68%;
height: 90%;
}
#abCatSubDiv1>#abShopNowDiv{
width: 30%;
height: 90%;
}
#abBFDWord{
    border: 0px solid ;
    color: white;
    line-height: 60px;
    font-size: 72px;
    font-weight: 700;
    font-family: "Human BBY Digital","Human Fallback",Arial, Helvetica, sans-serif;
    margin-top: 10px;
}
#abRNWord{
    border: 0px solid ;
    color: yellow;
    font-size: 40px;
    font-weight: 700;
    line-height: 60px;
    font-family: "Human BBY Digital","Human Fallback",Arial, Helvetica, sans-serif;
    margin-top: -70px;
}
#abSSWord{
    border: 0px solid ;
    color: white;
    font-size: 20px;
    line-height: 26px;
    font-family: "Human BBY Digital","Human Fallback",Arial, Helvetica, sans-serif;
    margin-top: -35px;
}

#abLQWord{
    border: 0px solid ;
    color: white;
    font-size: 11px;
    line-height: 26px;
    margin-top: 25px;
    font-family: "Human BBY Digital","Human Fallback",Arial, Helvetica, sans-serif;
}
#abSeeWord{
    border: 0px solid ;
    color: white;
    font-size: 11px;
    line-height: 26px;
    margin-top: -20px;
    font-family: "Human BBY Digital","Human Fallback",Arial, Helvetica, sans-serif;
}
#abBFDyellow{
    border: 0px solid ;
    color: #FFE000;
    font-size: 11px;
    line-height: 26px;
    margin-top: -7px;
    font-family: "Human BBY Digital","Human Fallback",Arial, Helvetica, sans-serif;
}
#abBFDSNButton{
    margin-top: -5px;
}
#abBFDSNButton>button{
    border: none;
    background-color: #FFE000;
    padding: 5px;
    border-radius: 3px;
    margin-left: 10px;
    margin-top: -500px;
}
#abCatMainDiv>#abCatSubDiv2{
    height: auto;
}
#abCatSubDiv2{
    display: grid;
    grid-template-columns: repeat(6,16%);
    gap: 5px;
    row-gap: 45px;
}
#abCatSubDiv2>div{
    border: 0px solid red;
    height: auto;
    margin-left: 15px;
    margin-top: 30px;
}
.abproductImageDiv{
    background-color: white;
    border-radius: 50%;
    height: 90%;
    border: 2px solid #598bf7;
    object-fit:contain;
}
.abProductRoundImage{
    width: 70%;
    margin-left: 25px;
    margin-top: 30px;
    border-radius: 12%;
    object-fit:contain;
}
.productHoverContent>p{
    color: #FFE000;
    font-family: "Human BBY Digital","Human Fallback",Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: 600;
    line-height: 16px;
    text-align: center;
    margin-top: -5px;
}
.abPCproductName{
    padding-top: 15px;
}
#abCatSubDiv2>div>div:hover{
    cursor: pointer;
    text-decoration: underline;
    color: #FFE000;
}
.abPCproductName:hover{
    cursor: pointer;
    text-decoration: underline;
    color: #FFE000;
}



/*  account section CSS*/

.abaccountfirstpage h5{
    word-spacing: 8px;
    margin-left: 1px;
    font-size: 14.5px;
    line-height: 20px;
    font-weight: 500;
}
.abaccountfirstpage button{
    margin-top: 10px;
    width: 400px;
    padding: 10px;
}
button[type="abfirstbutton"]{
    background-color: rgb(0,70,190);
    color: white;
    border: none;
}
.abaccountfirstpage{
    box-shadow: 0 0 10px rgb(165, 158, 158);
    width: 420px;
    height: 390px;
    display: none;
    border: 0px solid purple;
    opacity: 1;
    overflow-y: scroll;
    overflow-x: hidden;
    background-color: white;
    z-index: 1;
    position: absolute;
    top: 98px;
    left: 950px;
    
}

.abaccountfirstpage::-webkit-scrollbar{
    width: 8px;
    background: rgb(210, 208, 208);
}
.abaccountfirstpage::-webkit-scrollbar-thumb{
    background: #abadb0;
}
.abaccountfirstpage h4{
    color: #0046BE;
    font-family: "Human BBY Digital", "Human Fallback",Arial, Helvetica, sans-serif;
    font-weight: 500;
    line-height: 1px;
    font-size: 15px;
    margin-left: 10px;
}
.abaccountfirstpage p{
    color: #0046BE;
    font-family: "Human BBY Digital", "Human Fallback",Arial, Helvetica, sans-serif;
    font-size: 15px;
    line-height: 5px;
    margin-left: 10px;

}
li[type="none"]{
    display: flex;
    justify-content: space-between;
}
li[type="none"] p{
    word-spacing: 1px;
    margin-right: 5px;
    font-size: 11px;
    margin-top: 22px;
}

